* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.big {
    background-color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    column-gap: 10px;
    row-gap: 10px;
    color: white;
    font-weight: 900;
    height: 200px;
}


.pic1 {
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
}

.pic2 {
    background-color: blueviolet;
        border-radius: 2px;
        display: flex;
        justify-content: center;
    align-items: center;
}
.pic3 {
    background-color: rgb(21, 192, 30);
        border-radius: 2px;
                display: flex;
        justify-content: center;
    align-items: center;
}
.pic4 {
    background-color: rgb(241, 45, 225);
        border-radius: 2px;
                display: flex;
        justify-content: center;
    align-items: center;
}
.pic5 {
    background-color: rgb(234, 241, 45);
        border-radius: 2px;
                display: flex;
        justify-content: center;
    align-items: center;
}
.pic6 {
    background-color: rgb(241, 91, 45);
        border-radius: 2px;
                display: flex;
        justify-content: center;
    align-items: center;
}